<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Antonio Manuel Rodriguez Martos">
    <title>Festivales</title>
    {% block css %} {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Mukta|Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="icon" href="templates/IMG/icon.ico">
    {% block js %} {% endblock %}

  </head>
  <body>
    <header>
			<div id="logo">
        <img src="templates/IMG/icon.ico"/>
			</div>
			<div id="nom_sitio">
        <h1>Eventos Festival</h1>
			</div>
		</header>
    <nav>
      <ul>
        <li> <a href="index.php">Home</a> </li>
        <li> <a href="#">Menu2</a> </li>
        <li> <a href="#">Menu3</a> </li>
      </ul>
    </nav>

    <aside class="elementos_aux">
      <h2 id="tit_enlaces">Enlaces de Interes</h2>
      <ul id="enlaces">
        <li> <a href="#">Enlace</a> </li>
        <li> <a href="#">Enlace</a> </li>
        <li> <a href="#">Enlace</a> </li>
      </ul>
    </aside>

    {% block aside %} {% endblock %}


    <div id="contenido">
      {% block contenido %} {% endblock %}
    </div>

    <footer>
      <div id="social">
        <a href="#"><i class="fab fa-2x fa-facebook"></i></a>
        <a href="#"><i class="fab fa-2x fa-instagram"></i></a>
        <a href="#"><i class="fab fa-2x fa-twitter"></i></a>
        <a href="#"><i class="fab fa-2x fa-youtube"></i></a>
      </div>
      <div id="copy">
			     <p>&copy; Events Page</p>
      </div>
		</footer>



  </body>
</html>
