{% extends 'plantilla_base.html' %}

{% block css %}
<link rel="stylesheet" title="estilos" href="templates/Evento/style2.css" />
{% endblock %}

{% block js %}
<script
			  src="https://code.jquery.com/jquery-3.4.0.min.js"
			  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
			  crossorigin="anonymous"></script>
<script type="text/javascript" src="templates/Evento/script.js"></script>


{% endblock %}

{% block aside %}
    <aside id="comentarios">
      <input type="button" onclick="ocultar()" value="VER" />
      <form id="formul" method="POST" action="validar.php"  onsubmit="return validar()" >
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" name="nombre-form" id="nombre-form" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email"  name="email-form" id="email-form" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label>Comentario</label>
          <textarea id="coment-form"  name="coment-form" onKeyUp="prohibidas()"></textarea>
        </div>
        <input type="hidden" name="titulo_evento" value="{{ titulo }}" />
        <input value="Enviar" type="submit" />
      </form>
    </aside>
{% endblock %}

{% block contenido %}
      <main>
        <div id="tit_evento">
          <h2>{{ titulo|title }}</h2>
        </div>
        <div id="organizador">
          <h3>{{ organizador|title }}</h3>
        </div>
        <div id="fecha">
          <h4>{{ fecha }}</h4>
        </div>

        <div id="multimedia">
          <ul>

            <li id="TW"><a href="javascript: void(0);" onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.guiarte.com/','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');">  <img src="templates/IMG/gorjeo.png"> </a></li>
            <li id="FB"><a href="javascript: void(0);" onclick="window.open('https://twitter.com/intent/tweet?text=pic.twitter.com/YuKy2rcjyU','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');"> <img src="templates/IMG/facebook.png"> </a></li>
            <li id="imprimir"><a href="templates/IMP/imprimir.html"> <img src="templates/IMG/impresora.png"> </a></li>
          </ul>
        </div>

        <div id="cont_evento">
          <img src="templates/IMG/foto-evento.jpg" alt="Foto del Evento" />
          <img src="templates/IMG/foto-evento-2.jpg" alt="Foto del Evento" />
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida non orci nec pretium. Integer at tellus ac est pretium convallis. Proin accumsan lectus at lectus sodales ullamcorper. Maecenas odio felis, egestas vitae ante semper, pretium commodo dui. In ac arcu dui. Etiam tempor lacinia lacinia. Curabitur eu luctus dolor. Ut vitae ante ut tortor pellentesque tincidunt. Nulla commodo a nibh eget tristique.</p>
          <p>Pellentesque blandit sit amet enim nec auctor. Donec nisl ex, sollicitudin nec felis et, mollis tincidunt purus. Morbi venenatis rhoncus ex, sed dignissim enim pulvinar ultricies. Pellentesque laoreet id neque vestibulum tempor. Nam faucibus eget diam a cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultrices at libero eu consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque malesuada, ipsum ac suscipit convallis, nisl enim elementum odio, posuere mattis nisi ipsum in massa. Proin pulvinar nisi at arcu bibendum interdum.</p>
        </div>
      </main>

      <div id="full-coment">

        {% for com in comentarios %}
        <div class="coment">
          <p>Nombre: {{ com.nombre }}</p>
          <p>Fecha y hora: {{ com.fechahora }}</p>
          <p>Comentario: {{ com.texto }} </p>
        </div>
        {% endfor %}

      </div>


{% endblock %}
